@import "Variables"

*
    background-color: $DarkSilver
div
    background-color: $Wight
    border-style: solid

.flex-container
    display: flex
    flex-flow: column wrap
    //align-items: stretch
    //align-content: space-between
    //overflow: scroll
    
    
#left
    background-color: $Orange
    Width: 23%
    Height: 1315px
    float: left
#right
    Width: 73%
    border-style: solid
    float: right

#main
    background-color: $Wight
    Height: 532px
    margin: 2%
    margin-top: 0px
    
#services
    background-color: $LightGray
    Height: 726px
    margin: 2%

#educations
    background-color: $Wight
    Height: 726px
    margin: 2%

#history
    background-color: $Orange
    Height: 726px
    margin: 2%